<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title>C S 373: 54270: TA Matching Page</title>

		<link rel="stylesheet" type="text/css" href="/style/reset.css" />
		<link rel="stylesheet" type="text/css" href="/style/main.css" />

		<script type="text/javascript" src="/js/load.js"></script>
		<script type="text/javascript" src="/js/setHighlight.js"></script>
		<script type="text/javascript" src="/js/formInputHighlight.js"></script>
		<script type="text/javascript" src="/js/formTextareaHighlight.js"></script>
	</head>

	<body>
		<form action="adminmatch" method="post">
			<dl>
			Please select the course of the class you wish to match TAs for:
			{%if courses %}
			{%if selected_course%}
				<input type="hidden" name="select_course" value={{selected_course}} />
				{{selected_course}}
			{%else%}
			<select name="select_course">
			{%for course in courses%}
				<option name="select_course" value={{course.course_id}}>{{course.course_id}}</option>
			{%endfor%}
			</select>
			{%endif%}
			{%else%}
			<br />There are no courses at this time
			{%endif%}
			

			<br />
			
			{%if course_classes%}
			Please select the class you wish to match TAs for:
			{%if selected_class%}
				<input type="hidden" name="select_class" value={{selected_class.class_id}} />
				{{selected_class.course_id}} {{selected_class.semester}} {{selected_class.year}}
			{%else%}
			<select name="select_class">
			{%for class in course_classes%}
				<option name="select_class" value={{class.class_id}}>{{class.course_id}} {{class.semester}} {{class.year}}</option>
			{%endfor%}
			</select>
			{%endif%}
			{%else%}
			{%if selected_course%}There are no instances of this course{%endif%}
			{%endif%}
			
			
			<br />
			
			{%if selected_class%}
			{%if match%}
			TA(s): <br/>
			Professor: <br />
			{%else%}
			No matchings can be made for this class at this time. (No graduate students or professors have yet applied)
			{%endif%}
			{%endif%}
			<div><input type="submit" value="Continue" /></div>
		</form>
	</body>
</html>

