<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title>C S 373: 54270: TA Matching: Admin View Users</title>

		<link rel="stylesheet" type="text/css" href="/style/reset.css" />
		<link rel="stylesheet" type="text/css" href="/style/main.css" />

		<script type="text/javascript" src="/js/load.js"></script>
		<script type="text/javascript" src="/js/setHighlight.js"></script>
		<script type="text/javascript" src="/js/formInputHighlight.js"></script>
		<script type="text/javascript" src="/js/formTextareaHighlight.js"></script>
	</head>

	<body>
		<form action="adminviewusers" method="post">
			<dl>
				<dt>Current Users</dt>
				{% if users%}
					{% for user in users %}
						<div>UTEID:{{user.UTEID}}</div><br/>
						<div>Name:{{user.first_name}} {{user.middle_name}} {{user.last_name}}</div><br/>
						<div>Password:{{user.password}} (for debugging)</div><br/>
						<div>Phone:{{user.phone}}</div><br/>
						<div>E-mail:{{user.email}}</div><br/>
						<div>Postion:{{user.position}}</div><br/>
					{% endfor %}
				{% else %}
					<li>There are no users at this time</li>
				{% endif %}
			</dl>
		</form>
	</body>
</html>

