<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title>C S 373: 54270: TA Matching: Applicant</title>

		<link rel="stylesheet" type="text/css" href="/style/reset.css" />
		<link rel="stylesheet" type="text/css" href="/style/main.css" />

		<script type="text/javascript" src="/js/load.js"></script>
		<script type="text/javascript" src="/js/setHighlight.js"></script>
		<script type="text/javascript" src="/js/formInputHighlight.js"></script>
		<script type="text/javascript" src="/js/formTextareaHighlight.js"></script>
	</head>

	<body>
		<form action="applicant" method="post">
			<dl>
				<dt><label for="comment_UTEID">UTEID</label></dt>
				<dd>
				{% if eids %}
				<select name="comment_UTEID">
				{% for eid in eids %}
				<option name="comment_UTEID" value={{eid.UTEID}}>{{eid.UTEID}}</li><br/>
				{% endfor %}
				</select>
				{% else %}
				<li>There are no UTEID at this time</li>
				{% endif %}
				</dd>
				

				<dt><label for="comment_major">Major field</label></dt>
				<dd>
				{% if majors %}
				<select name="comment_major">
				{% for major in majors %}
				<option name="comment_major" value={{major.major}}>{{major.major}}</li><br/>
				{% endfor %}
				</select>
				{% else %}
				<li>There are no major at this time</li>
				{% endif %}
				</dd>

				<br />

				<dt><label for="comment_admission">Admission date (MM-DD-YYYY)</label></dt>
				<dd><input type="text" name="comment_admission" id="comment_admission" {% if results %}{% for result in results %}{% ifequal result.key 'comment_admission' %}{% if result.valid %}value="{{ result.value }}" /><span{% else %}/><span class="error"{% endif %}{% endifequal %}{% endfor %}{% else %}/><span{% endif %}>What is your admission date?</span></dd>

				<br />

				<dt><label for="radio_phd">PhD or Masters Student (Choose one)</label></dt>
				<dd><span {% if results %}{% for result in results %}{% ifequal result.key 'radio_phd' %}{% ifnotequal result.value "none" %} {% else %}class="error"{% endifnotequal %}{% endifequal %}{% endfor %}{% else %}{% endif %}>Are you a PhD or a Masters student? Please choose the correct option.</span>
				PhD<input type="radio" name="radio_phd" value="PhD" id="radio_phd" checked {% if results %}{% for result in results %}{% ifequal result.key 'radio_phd' %}{% ifequal result.value 'PhD' %}checked="{{ true }}" {% endifequal %}{% endifequal %}{% endfor %}{% else %}{% endif %}/><br />
				Masters<input type="radio" name="radio_phd" value="Masters" id="radio_phd" {% if results %}{% for result in results %}{% ifequal result.key 'radio_phd' %}{% ifequal result.value 'Masters' %}checked="{{ true }}" {% endifequal %}{% endifequal %}{% endfor %}{% else %}{% endif %}/><br />
				</dd>

				<br />

				<dt><label for="comment_supervising">Supervising professor</label></dt>
				<dd>
				{% if professors %}
				<select name="comment_supervising">
				{% for professor in professors %}
				<option name="comment_supervising" value={{professors.first_name}}+{{professors.last_name}}>{{professor.first_name}} {{professor.last_name}}</li><br/>
				{% endfor %}
				</select>
				{% else %}
				<li>There are no supervising professor at this time</li>
				{% endif %}
				</dd>

				<br />

				<dt><label for="radio_citizen">Are you a citizen of the United States or a resident alien (Choose one)</label></dt>
				<dd><span {% if results %}{% for result in results %}{% ifequal result.key 'radio_citizen' %}{% ifnotequal result.value "none" %} {% else %}class="error"{% endifnotequal %}{% endifequal %}{% endfor %}{% else %}{% endif %}>Are you a US citizen or resident alien? Please choose the correct option.</span>
				US Citizen<input type="radio" name="radio_citizen" value="citizen" id="radio_citizen" checked {% if results %}{% for result in results %}{% ifequal result.key 'radio_citizen' %}{% ifequal result.value 'citizen' %}checked="{{ true }}" {% endifequal %}{% endifequal %}{% endfor %}{% else %}{% endif %}/><br />
				Resident Alien<input type="radio" name="radio_citizen" value="resident" id="radio_citizen" {% if results %}{% for result in results %}{% ifequal result.key 'radio_citizen' %}{% ifequal result.value 'resident' %}checked="{{ true }}" {% endifequal %}{% endifequal %}{% endfor %}{% else %}{% endif %}/><br />
				</dd>

				<br />

				<dt><label for="radio_native">Are you a native English speaker?</label></dt>
				<dd><span {% if results %}{% for result in results %}{% ifequal result.key 'radio_native' %}{% ifnotequal result.value "none" %} {% else %}class="error"{% endifnotequal %}{% endifequal %}{% endfor %}{% else %}{% endif %}>Are you a native English speaker? Please choose the correct option.</span>
				Yes<input type="radio" name="radio_native" value="Yes" id="radio_native" checked {% if results %}{% for result in results %}{% ifequal result.key 'radio_native' %}{% ifequal result.value 'yes' %}checked="{{ true }}" {% endifequal %}{% endifequal %}{% endfor %}{% else %}{% endif %}/><br />
				No<input type="radio" name="radio_native" value="No" id="radio_native" {% if results %}{% for result in results %}{% ifequal result.key 'radio_native' %}{% ifequal result.value 'no' %}checked="{{ true }}" {% endifequal %}{% endifequal %}{% endfor %}{% else %}{% endif %}/><br />
				</dd>

				<br />

				<dt><label for="comment_ta">TA history</label></dt>
				<dd>
				{% if courses %}
				<select multiple="comment_ta">
				{% for course in courses %}
				<option multiple="comment_ta" multiple={{course.course_id}}>{{course.course_id}}</li><br/>
				{% endfor %}
				</select>
				{% else %}
				<li>There are no course at this time</li>
				{% endif %}
				</dd>

				<br />


				<dt><label for="comment_programming">Programming languages</label></dt>
				<dd><input type="text" name="comment_programming" id="comment_programming" {% if results %}{% for result in results %}{% ifequal result.key 'comment_programming' %}{% if result.valid %}value="{{ result.value }}" /><span{% else %}/><span class="error"{% endif %}{% endifequal %}{% endfor %}{% else %}/><span{% endif %}>What programming languages do you know?</span></dd>

				<br />

				<dt><label for="comment_area_drop">Areas of specialization</label></dt>
				<dd>
				{% if specializations %}
				<select name="comment_area_drop">
				{% for specialization in specializations %}
				<option name="comment_area_drop" value={{specialization.specialization}}>{{specialization.specialization}}</li><br/>
				{% endfor %}
				</select>
				{% else %}
				<li>There are no specialization at this time</li>
				{% endif %}

				<br />

				<input type="text" name="comment_area" id="comment_area" {% if results %}{% for result in results %}{% ifequal result.key 'comment_area' %}{% if result.valid %}value="{{ result.value }}" /><span{% else %}/><span class="error"{% endif %}{% endifequal %}{% endfor %}{% else %}/><span{% endif %}>What are your areas of specialization?</span>
</dd>
				<br />

				<dt><label for="comment_qualified">Course qualified to teach</label></dt>
				<dd>
				{% if courses %}
				<select name="comment_qualified">
				{% for course in courses %}
				<option name="comment_qualified" value = {{course.course_id}}>{{course.course_id}}</li><br/>
				{% endfor %}
				</select>
				{% else %}
				<li>There are no course at this time</li>
				{% endif %}
				</dd>
			</dl>
			<div><input type="submit" value="Submit" /></div>
		</form>
	</body>
</html>

