<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title>C S 373: 54270: TA Matching: Instructor</title>

		<link rel="stylesheet" type="text/css" href="/style/reset.css" />
		<link rel="stylesheet" type="text/css" href="/style/main.css" />

		<script type="text/javascript" src="/js/load.js"></script>
		<script type="text/javascript" src="/js/setHighlight.js"></script>
		<script type="text/javascript" src="/js/formInputHighlight.js"></script>
		<script type="text/javascript" src="/js/formTextareaHighlight.js"></script>
	</head>

	<body>
		<form action="/submitted" method="post">
			<dl>
				<dt><label for="name_test">Name</label></dt><dd><input type="text" name="name_test" id="name_test" {% if results %}{% for result in results %}{% ifequal result.key 'name_test' %}{% if result.valid %}value="{{ result.value }}" /><span{% else %}/><span class="error"{% endif %}{% endifequal %}{% endfor %}{% else %}/><span{% endif %}>Type in your name, at least one char</span></dd>
				<dt><label for="password_test">Password</label></dt><dd><input type="password" name="password_test" id="password_test" {% if results %}{% for result in results %}{% ifequal result.key 'password_test' %}{% if result.valid %}value="{{ result.value }}" /><span{% else %}/><span class="error"{% endif %}{% endifequal %}{% endfor %}{% else %}/><span{% endif %}>Type in your password, at least six chars</span></dd>
				<dt><label for="address_test">Address</label></dt><dd><input type="text" name="address_test" id="address_test" {% if results %}{% for result in results %}{% ifequal result.key 'address_test' %}{% if result.valid %}value="{{ result.value }}" /><span{% else %}/><span class="error"{% endif %}{% endifequal %}{% endfor %}{% else %}/><span{% endif %}>Type in your address</span></dd>
				<dt><label for="phone_test">Phone</label></dt><dd><input type="text" name="phone_test" id="phone_test" {% if results %}{% for result in results %}{% ifequal result.key 'phone_test' %}{% if result.valid %}value="{{ result.value }}" /><span{% else %}/><span class="error"{% endif %}{% endifequal %}{% endfor %}{% else %}/><span{% endif %}>Type in your phone number</span></dd>
				<dt><label for="email_test">Email</label></dt><dd><input type="text" name="email_test" id="email_test" {% if results %}{% for result in results %}{% ifequal result.key 'email_test' %}{% if result.valid %}value="{{ result.value }}" /><span{% else %}/><span class="error"{% endif %}{% endifequal %}{% endfor %}{% else %}/><span{% endif %}>Type in your email address</span></dd>
				<dt><label for="comment_test">Comment</label></dt><dd><textarea name="comment_test" id="comment_test">{% if results %}{% for result in results %}{% ifequal result.key 'comment_test' %}{% if result.valid %}{{ result.value }}</textarea><span{% else %}</textarea><span class="error"{% endif %}{% endifequal %}{% endfor %}{% else %}</textarea><span{% endif %}>Type in your comment</span></dd>
			</dl>
			<div><input type="submit" value="Submit" /></div>
		</form>
	</body>
</html>

