<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title>C S 373: 54270: TA Matching: Admin: Search</title>

		<link rel="stylesheet" type="text/css" href="/style/reset.css" />
		<link rel="stylesheet" type="text/css" href="/style/main.css" />

		<script type="text/javascript" src="/js/load.js"></script>
		<script type="text/javascript" src="/js/setHighlight.js"></script>
		<script type="text/javascript" src="/js/formInputHighlight.js"></script>
		<script type="text/javascript" src="/js/formTextareaHighlight.js"></script>
		<script type="text/javascript" src="/js/formSelectHighlight.js"></script>
	</head>

	<body>
		<form action="adminSearch" method="post">
			<fieldset>
				<legend>Googlesque search</legend>
				<dl>
					<dt>Search</dt>
					<dd><input type="text" name="comment|google_search" id="comment|google_search" {%ifequal form 'google_search'%}{%for result in results%}{%ifequal result.key 'comment|google_search'%}{%if result.valid%}value="{{result.value}}" /><span{%else%}/><span class="error"{%endif%}{%endifequal%}{%endfor%}{%else%}/><span{%endifequal%}>Search the system</span></dd>
				</dl>
				<div><input name="select|google_search" type="submit" value="Select" /></div>
			</fieldset>
			<div><a href="admin">Back</a></div>
		</form>
		<form action="adminSearch" method="post">
			<fieldset>
				<legend>Model specific search</legend>
				<dl>
					<dt>Search</dt>
					<dd><input type="text" name="comment|model_search" id="comment|model_search" {%ifequal form 'model_search'%}{%for result in results%}{%ifequal result.key 'comment|model_search'%}{%if result.valid%}value="{{result.value}}" /><span{%else%}/><span class="error"{%endif%}{%endifequal%}{%endfor%}{%else%}/><span{%endifequal%}>Search the system</span></dd>
					<dt>Model</dt>
					<dd><select name="select|model">
							<option value="Applicants"{%for result in results%}{%ifequal result.key 'select|model'%}{%ifequal result.value 'Applicants'%} selected="selected"{%endifequal%}{%endifequal%}{%endfor%}>Applicants</option>
							<option value="Instructors"{%for result in results%}{%ifequal result.key 'select|model'%}{%ifequal result.value 'Instructors'%} selected="selected"{%endifequal%}{%endifequal%}{%endfor%}>Instructors</option>
							<option value="Courses"{%for result in results%}{%ifequal result.key 'select|model'%}{%ifequal result.value 'Courses'%} selected="selected"{%endifequal%}{%endifequal%}{%endfor%}>Courses</option>
						</select><span>Please select a model</span></dd>
				</dl>
				<div><input name="select|model_search" type="submit" value="Select" /></div>
			</fieldset>
			<div><a href="admin">Back</a></div>
		</form>
{%if search_results %}
		<form>
			<fieldset>
				<legend>Results</legend>
				<dl>
					<dt>Results</dt>
{%for result in search_results%}{%ifequal result.type 'Applicants'%}					<dd>{{result.ut_eid}}: {{result.first_name}} {{result.last_name}}</dd>{%endifequal%}{%endfor%}
{%for result in search_results%}{%ifequal result.type 'Instructors'%}					<dd>{{result.ut_eid}}: {{result.first_name}} {{result.last_name}}</dd>{%endifequal%}{%endfor%}
{%for result in search_results%}{%ifequal result.type 'Courses'%}					<dd>{{result.major.abbr}}{{result.number}} {{result.name}}</dd>{%endifequal%}{%endfor%}
				</dl>
			</fieldset>
			<div><a href="admin">Back</a></div>
		</form>
{%endif%}
	</body>
</html>

