<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title>C S 373: 54270: TA Matching: Admin Add Majors</title>

		<link rel="stylesheet" type="text/css" href="/style/reset.css" />
		<link rel="stylesheet" type="text/css" href="/style/main.css" />

		<script type="text/javascript" src="/js/load.js"></script>
		<script type="text/javascript" src="/js/setHighlight.js"></script>
		<script type="text/javascript" src="/js/formInputHighlight.js"></script>
		<script type="text/javascript" src="/js/formTextareaHighlight.js"></script>
	</head>

	<body>
		<form action="adminaddmajors" method="post">
			<dl>
				<dt>Current Majors</dt>
				<dd> 
				{% if majors %}
					{% for major in majors %}
						<l1>{{major.major}}</li><br/>
					{% endfor %}
				{% else %}
					<li>There are no majors at this time</li>
				{% endif %}
				</dd>	
				<br />
				<dt><label for="comment_major">Major</label></dt>
				<dd><input type="text" name="comment_major" id="comment_major" {% if results %}{% for result in results %}{% ifequal result.key 'comment_major' %}{% if result.valid %}value="{{ result.value }}" /><span{% else %}/>
				<span class="error"{% endif %}{% endifequal %}{% endfor %}{% else %}/>
				<span{% endif %}>Enter a major that does not already exist.</span></dd>
			</dl>
			<div><input type="submit" value="Submit" /></div>
			<div><a href="admin"><button type="button">Back to Admin Page</button></a></div>
		</form>
	</body>
</html>

