<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title>C S 373: 54270: TA Matching: Admin: Apply</title>

		<link rel="stylesheet" type="text/css" href="/style/reset.css" />
		<link rel="stylesheet" type="text/css" href="/style/main.css" />
	</head>

	<body>
		<form>
			<fieldset>
				<legend>Applying</legend>
				<dl>
					<dt>Submitting application</dt>
					<dd>Success</dd>
				</dl>
			</fieldset>
			<div><a href="applicant">Back</a></div>
		</form>
	</body>
</html>

