<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title>C S 373: 54270: TA Matching: Admin View Classess</title>

		<link rel="stylesheet" type="text/css" href="/style/reset.css" />
		<link rel="stylesheet" type="text/css" href="/style/main.css" />

		<script type="text/javascript" src="/js/load.js"></script>
		<script type="text/javascript" src="/js/setHighlight.js"></script>
		<script type="text/javascript" src="/js/formInputHighlight.js"></script>
		<script type="text/javascript" src="/js/formTextareaHighlight.js"></script>
	</head>

	<body>
		<form action="adminviewclasses" method="post">
			<dl>
				<dt>Current Classes</dt>
				{%if classes%}
				Please select the class you wish to view
				<select name="select_class">
				{%for class in classes%}
					<option name="select_class" value={{class.class_id}}> {{class.unique_id}} {{class.course_id}} {{class.semester}} {{class.year}}</option>
				{%endfor%}
				</select>
				{%else%}
				There are no classes
				{%endif%}

				<br />
				<br />
				{% if selected_class%}
				<div>Course: {{selected_class.course_id}}</div><br/>
				<div>Unique Id: {{selected_class.unique_id}}</div><br/>
				<div>Semester: {{selected_class.semester}}</div><br/>
				<div>Year: {{selected_class.year}}</div><br/>
				<div>Instructor: {%if selected_class.instructor%}{{selected_class.instructor}} - {{selected_class.instructor_info.first_name}}{%if selected_class.instructor_info.middle_name%} {{selected_class.instructor_info.middle_name}} {%endif%} {{selected_class.instructor_info.last_name}}{%else%}Not Assigned{%endif%}</div><br/>
				<div>Instructor's Wanted Students:{%if selected_class.wanted_students%}{%for s in selected_class.wanted_students%}<li>{{s.UTEID}} - {{s.first_name}}{%if s.middle_name%}} {{s.middle_name}} {%endif%} {{s.last_name}} {%endfor%}{%else%}None{%endif%}</li></div><br/>
				<div>Instructor's Wanted Students Comment:{{selected_class.wanted_comment}}</div><br/>
				<div>Instructor's Unwanted Students:{%if selected_class.unwanted_students%}{%for s in selected_class.unwanted_students%}<li>{{s.UTEID}} - {{s.first_name}}{%if s.middle_name%}} {{s.middle_name}} {%endif%} {{s.last_name}}{%endfor%}{%else%}None{%endif%}</li></div><br/>
				<div>Instructor's Unwanted Students Comment:{{selected_class.unwanted_comment}}</div><br/>
				<div>Instructor requests a Native English Speaker:{{selected_class.native_english}}</div><br/>
				<div>Instructor's requested specialization(s):{{selected_class.specialization_comment}}</div><br/>
				<div>Expected Enrollment:{{selected_class.expected_enrollment}}</div><br/>
				<div>TAs needed:{{selected_class.numTA_needed}}</div><br/>
				<div>TAs Assigned:{%if selected_class.TAs%}}{%for ta in selected_class.TAs%}<li>{{ta.UTEID}} - {{ta.first_name}}{%if ta.middle_name%}} {{ta.middle_name}} {%endif%} {{ta.last_name}}{%endfor%}{%else%}None{%endif%}</li></div><br/>
				{% endif %}
			</dl>

			<div><input type="submit" value="Continue" /></div>
			<div><a href="admin"><button type="button">Back to Admin Page</button></a></div>
		</form>
	</body>
</html>

