<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title>C S 373: 54270: TA Matching</title>
		<link rel="stylesheet" type="text/css" href="/style/reset.css" />
		<link rel="stylesheet" type="text/css" href="/style/main.css" />

		<script type="text/javascript" src="/js/load.js"></script>
		<script type="text/javascript" src="/js/setHighlight.js"></script>
		<script type="text/javascript" src="/js/formInputHighlight.js"></script>
		<script type="text/javascript" src="/js/formTextareaHighlight.js"></script>

	</head>

	<body><form>
		<dd> 
		{% if phase %}
			{% for p in phase%}
				Current Phase : {{p.phase}}<br/>


				<div><a href="admin">Admins</a></div>


				{%ifnotequal p.phase 2%}
					<div><a href="applicant"><strike>Applicants</strike></a></div>
				{%else%}
					<div><a href="applicant">Applicants</a></div>
				{%endifnotequal%}
				
				{%ifnotequal p.phase 3%}
					<div><a href="instructor"><strike>Instructors</strike></a></div>
				{%else%}
					<div><a href="instructor">Instructors</a></div>
				{%endifnotequal%}
				
				{% endfor %}
		{% else %}
			Need to set up the phase first
			<div><a href="admin">Admins</a></div>
		{% endif %}
		</dd>
		<br><br>
		<!--<div><a href="applicant">Applicants</a></div>
		<div><a href="instructor">Instructors</a></div>
		<div><a href="admin">Admins</a></div>-->
		<div><a href="debug">Debug</a></div>
		<div><a href="testdatamodel">Test</a></div>
	</form></body>
</html>

