<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title>C S 373: 54270: TA Matching: Instructor TA Preference Edit</title>

		<link rel="stylesheet" type="text/css" href="/style/reset.css" />
		<link rel="stylesheet" type="text/css" href="/style/main.css" />

		<script type="text/javascript" src="/js/load.js"></script>
		<script type="text/javascript" src="/js/setHighlight.js"></script>
		<script type="text/javascript" src="/js/formInputHighlight.js"></script>
		<script type="text/javascript" src="/js/formTextareaHighlight.js"></script>
	</head>

	<body>
		<form action="instructoredit" method="post">
			<dl>
				<dt><label for="comment_class">Class to edit preferences for</label></dt>
				<dd>
				{% if classes %}
				<select name="comment_class">
				{% for class in classes %}
				<option name="comment_class" value={{class.class_id}}>{{class.unique_id}}: {{class.course_id}} {{class.course_name}} {{class.semester}} {{class.year}}</li><br/>
				{% endfor %}
				</select>
				{% else %}
				<li>There are no classes at this time</li>
				{% endif %}
				</dd>

				<dt><label for="comment_wanted">Specific wanted students</label></dt>
				<dd>
				{% if applicants %}
				<select multiple="multiple" name="comment_wanted">
				{% for applicant in applicants %}
				<option name="comment_wanted" value={{applicant.UTEID}}>{{applicant.UTEID}}: {{applicant.info.first_name}} {{applicant.info.last_name}}</li><br/>
				{% endfor %}
				</select>
				{% else %}
				<li>There are no applicants at this time</li>
				{% endif %}
				</dd>
				
				<br />

				<dt><label for="comment_unwanted">Specific unwanted students</label></dt>
				<dd>
				{% if applicants %}
				<select multiple="multiple" name="comment_unwanted">
				{% for applicant in applicants %}
				<option name="comment_unwanted" value={{applicant.UTEID}}>{{applicant.UTEID}}: {{applicant.info.first_name}} {{applicant.info.last_name}}</li><br/>
				{% endfor %}
				</select>
				{% else %}
				<li>There are no applicants at this time</li>
				{% endif %}
				</dd>

				<br />

				<dt><label for="radio_native">Native English speaker</label></dt>
				<dd><span {% if results %}{% for result in results %}{% ifequal result.key 'radio_native' %}{% ifnotequal result.value "none" %} {% else %}class="error"{% endifnotequal %}{% endifequal %}{% endfor %}{% else %}{% endif %}>Are you a native English speaker? Please choose the correct option.</span>
				Yes<input type="radio" name="radio_native" value="Yes" id="radio_native" checked {% if results %}{% for result in results %}{% ifequal result.key 'radio_native' %}{% ifequal result.value 'yes' %}checked="{{ true }}" {% endifequal %}{% endifequal %}{% endfor %}{% else %}{% endif %}/><br />
				No<input type="radio" name="radio_native" value="No" id="radio_native" {% if results %}{% for result in results %}{% ifequal result.key 'radio_native' %}{% ifequal result.value 'no' %}checked="{{ true }}" {% endifequal %}{% endifequal %}{% endfor %}{% else %}{% endif %}/><br />
				</dd>

				<br />

				<dt><label for="comment_specialization_drop">Background in a particular area of specialization</label></dt>
				<dd>{% if specializations %}
				<select name="comment_specialization_drop">
				{% for specialization in specializations %}
				<option name="comment_specialization_drop" value={{specialization.specialization}}>{{specialization.specialization}}</li><br/>
				{% endfor %}
				</select>
				{% else %}
				<li>There are no specializations at this time</li>
				{% endif %}

				{% if error %}
				<dt>Error: A student cannot be both wanted and unwanted as a TA for a class.</dt>
				{% endif %}
				
			</dl>
			{%if done%}
			Information accepted.
			{%else%}
			<div><input type="submit" value="Submit" /></div>
			{%endif%}
		</form>
	</body>
</html>

