<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title>C S 373: 54270: TA Matching: Admin: Instructors</title>

		<link rel="stylesheet" type="text/css" href="/style/reset.css" />
		<link rel="stylesheet" type="text/css" href="/style/main.css" />

		<script type="text/javascript" src="/js/load.js"></script>
		<script type="text/javascript" src="/js/setHighlight.js"></script>
		<script type="text/javascript" src="/js/formInputHighlight.js"></script>
		<script type="text/javascript" src="/js/formTextareaHighlight.js"></script>
		<script type="text/javascript" src="/js/formSelectHighlight.js"></script>
	</head>

	<body>
		<form action="adminInstructors" method="post">
			<fieldset>
				<legend>Instructors</legend>
				<dl>
					<dt>Current</dt>
					<dd>
{%if instructors%}
						<table>
							<tr>
								<th>UT EID</th>
								<th>Password</th>
								<th>First name</th>
								<th>Last name</th>
							</tr>
{%for instructor in instructors%}						<tr>
								<td>{{instructor.ut_eid}}</td>
								<td>{{instructor.password}}</td>
								<td>{{instructor.first_name}}</td>
								<td>{{instructor.last_name}}</td>
							</tr>
{%endfor%}
						</table>
{%else%}
<i>There are currently no instructors</i>
{%endif%}
					</dd>
					<dt>UT EID</dt>
					<dd><input type="text" name="comment|ut_eid" id="comment|ut_eid" {%if results%}{%for result in results%}{%ifequal result.key 'comment|ut_eid'%}{%if result.valid%}value="{{result.value}}" /><span{%else%}/><span class="error"{%endif%}{%endifequal%}{%endfor%}{%else%}/><span{%endif%}>Enter a UT EID</span></dd>
					<dt>Password</dt>
					<dd><input type="password" name="password|password" id="password|password" {%if results%}{%for result in results%}{%ifequal result.key 'password|password'%}{%if result.valid%}value="{{result.value}}" /><span{%else%}/><span class="error"{%endif%}{%endifequal%}{%endfor%}{%else%}/><span{%endif%}>Enter a password</span></dd>
					<dt>First name</dt>
					<dd><input type="text" name="comment|first_name" id="comment|first_name" {%if results%}{%for result in results%}{%ifequal result.key 'comment|first_name'%}{%if result.valid%}value="{{result.value}}" /><span{%else%}/><span class="error"{%endif%}{%endifequal%}{%endfor%}{%else%}/><span{%endif%}>Enter a first name</span></dd>
					<dt>Last name</dt>
					<dd><input type="text" name="comment|last_name" id="comment|last_name" {%if results%}{%for result in results%}{%ifequal result.key 'comment|last_name'%}{%if result.valid%}value="{{result.value}}" /><span{%else%}/><span class="error"{%endif%}{%endifequal%}{%endfor%}{%else%}/><span{%endif%}>Enter a last name</span></dd>
				</dl>
				<div><input type="submit" value="Select" /></div>
			</fieldset>
			<div><a href="admin">Back</a></div>
		</form>
	</body>
</html>

